arabic_reshaper==3.0.0
discord.py @ git+https://github.com/DA-344/d.py.git@b699e7e5e569646b6b4208ef6b60bf432ee7cf4b
flet==0.85.2
python_bidi==0.4.2
aiohttp==3.9.5
certifi
fd-code-editor @ git+https://github.com/obgwew/fd_code_editor.git